#intro {
    background-image: url(../../src/recommend/recommandation-intro.png);
}

.genre {
    padding-top: 30px;
}

.underline {
    width: 170px;
    margin-top: -30px;
}

.about-book {
    margin: 0 auto;
    width: 70%;
}
.quote {
    margin: 0 auto;
    margin-bottom: 20px;
    width: fit-content;
    background-color: #eae3c0;
    padding: 20px;
    font-family: 'KoPub바탕Light';
}

.cover {
    height: 400px;
    margin: 30px;
}

/* footer */
/* #footer {
    position: relative;
    top: 100px; left: auto;
    font-family: 'KoPub돋움Light','Malgun Gothic', sans-serif;
    font-size: 20pt;
    color: #a7c584;
} */