@charset "utf-8";

/* reset */
html,body {
	height: 100%; width: 100%; background: #eae3c0; text-align: center;
}
* {
    padding: 0;
    margin: 0;
}

/*폰트 등록*/
@font-face {
font-family:"KoPub돋움Bold";
src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld\ Dotum\ Bold.ttf") format("truetype");
}
@font-face {
font-family:"KoPub돋움Normal";
src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld\ Dotum\ Medium.ttf") format("truetype");
}
@font-face {
    font-family:"KoPub돋움Light";
    src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld\ Dotum\ Light.ttf") format("truetype");
    }
@font-face {
font-family:"KoPub바탕Bold";
src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld\ Batang\ Bold.ttf") format("truetype");
}
@font-face {
    font-family:"KoPub바탕Normal";
    src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld\ Batang\ Medium.ttf") format("truetype");
    }
@font-face {
font-family:"KoPub바탕Light";
src:url("../src/fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld\ Batang\ Light.ttf") format("truetype");
}




/* header 설정 */
#header {
    width: 100%;
    /* height: 130px; */
    background-color: #6b8a47;
    position: static;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#logo {
    display: inline-block;
    position: static;
    width: 20%;
    max-width: 200px;
    min-width: 130px;
}
#logo img {
    width: 100%;
    margin: 10% 0;
}
.menu-bar {
    position: static;
    display: inline-block;
    font-family: 'KoPub돋움Light','Malgun Gothic', sans-serif;
    font-size: 1.3em;
    height: 100%;
}
.first-menu li, .second-menu li {
    float: left;
    /* height: 100%; */
    margin: auto 15px auto 15px;
    padding: 20% 0;
}
.first-menu a, .second-menu a {
    color: #a7c584;
    text-decoration: none;
}
.header-content {
    position: static;
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
    text-align: center;
}

.logo2 {
    position: fixed;
    width: 20%;
    top: 20%;
    right: 10%;
    z-index: 1;
}


/* intro */
#intro {
    position: static;
    width: 100%;
    background-size: cover;
}

.intro-text {
    margin: auto;
    font-family: 'KoPub바탕Normal', Times, serif;
    font-size: 2em;
    padding: 50px 0;
    color: #f6c915;
}

/* content box */
#content {
    background-color: white;
    margin: 0 auto;
    position: static;
    width: 70%;
    height: fit-content;
    padding: 5%;
}
p {
    font-family: 'KoPub돋움Light','Malgun Gothic', sans-serif;
    font-size: 1em;
}

#footer {
    position: static;
    margin: 20px 0;
    font-family: 'KoPub돋움Light','Malgun Gothic', sans-serif;
    font-size: 1em;
    color: #a7c584;
}